# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.expo*
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*
metro-cache/
tmp/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# certificates
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# coverage
coverage/

# generated native folders
/ios
/android

# React Native / Expo extras
*.pack